.approved{
    @apply bg-custom-bg-approved text-green
}
.under-review{
    @apply bg-custom-bg-under-review text-orange
}
.rejected{
    @apply bg-custom-bg-rejected text-red
}
.ant-table-row{
    cursor: pointer !important;
}


@media print {
    .claims-barcode {
      display: block !important;
    }
  }
  
  @media screen {
    .claims-barcode {
      display: none;
    }
  }